<% include ./partials/header %>
    <div class='ui main text container segment'>
        <div class="ui huge header">edit "<%= classroom.title %>"</div>
        <form class="ui form" action="/academypgh5/<%= classroom._id %>?_method=PUT" method="POST">
            <div class="field">
                <label>Title</label>
                <input type="text" name="classroom[title]" value="<%= classroom.title %>">
            </div>
            
            <div class="field">
                <label>Blog Content</label>
                <textarea name="classroom[body]"><%= classroom.body %></textarea>
            </div>
            <input class="ui violet basic button" type="submit">
        </form>
    </div>
    <% include ./partials/footer %>